# Node modules
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Mac/Windows
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode/
*.swp
*.swo

# Build outputs
dist/
build/
